body {
    background: #8596AA;
    font-size: 12pt;
    line-height: 20pt;
    font-family : "Helvetica neue", Arial, Verdana, sans-serif;
}

.contents {
    font-size: 10pt;
    line-height: 12pt;
}
.document {
    width: 850px;
    background: white;
    margin-left: 100px;
    padding: 12pt;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6  a{
    color: #336299;
}

a {
    color: #336299;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p, ul, ol, li {
    text-align: justify;
}

tt, pre, code {
    background: #eee;
    color: black;
    font-size: 12pt;
    font-family: courier, monospace;
}

pre {
    margin-left: 2em;
    border: solid thin #ddd;
    padding: 9px;
}

table.footnote td {
    font-size: 10pt;
    font-style: italic;
}
